### Librerias utilizadas

In [4]:
import pandas as pd
import re
import ast

In [5]:
df_credits2 = pd.read_csv('credits.csv')

In [6]:
df_credits2

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

### Contar valores duplicados de la columna id y despues los eliminamos

In [7]:
# Contar valores duplicados en la columna 'id'
duplicados = df_credits2['id'].duplicated(keep=False).sum()

# Contar valores NaN en la columna 'id'
nan_count = df_credits2['id'].isna().sum()

print(f"Cantidad de valores duplicados en la columna 'id': {duplicados}")
print(f"Cantidad de valores NaN en la columna 'id': {nan_count}")

Cantidad de valores duplicados en la columna 'id': 87
Cantidad de valores NaN en la columna 'id': 0

In [8]:
# Eliminar valores duplicados en la columna 'id', manteniendo solo la primera ocurrencia
df_credits2 = df_credits2.drop_duplicates(subset='id', keep='first')

# Verificar el resultado
#print(df1.head())

### Converti la columna crew a una lista de diccionario y igual con cast y luego las desanide

In [9]:
# Primero, converti la columna `crew` de texto a una lista de diccionarios
df_credits2['crew'] = df_credits2['crew'].apply(ast.literal_eval)

# Defini una función para extraer el nombre del director
def extract_director(crew_list):
    for member in crew_list:
        if member.get('job') == 'Director':
            return member.get('name')
    return None

# Aplique la función a la columna `crew`
df_credits2['director_name'] = df_credits2['crew'].apply(extract_director)

# Mostrar el DataFrame con la nueva columna
print(df_credits2[['id', 'director_name']])

           id     director_name
0         862     John Lasseter
1        8844      Joe Johnston
2       15602     Howard Deutch
3       31357   Forest Whitaker
4       11862     Charles Shyer
...       ...               ...
45471  439050  Hamid Nematollah
45472  111109          Lav Diaz
45473   67758    Mark L. Lester
45474  227506  Yakov Protazanov
45475  461257     Daisy Asquith

[45432 rows x 2 columns]

C:\Users\Luis Fernando Martin\AppData\Local\Temp\ipykernel_13056\1614170328.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_credits2['crew'] = df_credits2['crew'].apply(ast.literal_eval)
C:\Users\Luis Fernando Martin\AppData\Local\Temp\ipykernel_13056\1614170328.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_credits2['director_name'] = df_credits2['crew'].apply(extract_director)

In [10]:
# Primero, converti la columna `cast` de texto a una lista de diccionarios
df_credits2['cast'] = df_credits2['cast'].apply(ast.literal_eval)

# Defini una función para extraer los nombres de los actores
def extract_actor_names(cast_list):
    return [member['name'] for member in cast_list if 'name' in member]

# Aplique la función a la columna `cast`
df_credits2['actor_names'] = df_credits2['cast'].apply(extract_actor_names)

# Mostrar el DataFrame con la nueva columna
print(df_credits2[['id', 'actor_names']])

C:\Users\Luis Fernando Martin\AppData\Local\Temp\ipykernel_13056\1532343543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_credits2['cast'] = df_credits2['cast'].apply(ast.literal_eval)

           id                                        actor_names
0         862  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
1        8844  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
2       15602  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
3       31357  [Whitney Houston, Angela Bassett, Loretta Devi...
4       11862  [Steve Martin, Diane Keaton, Martin Short, Kim...
...       ...                                                ...
45471  439050        [Leila Hatami, Kourosh Tahami, Elham Korda]
45472  111109  [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...
45473   67758  [Erika Eleniak, Adam Baldwin, Julie du Page, J...
45474  227506  [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...
45475  461257                                                 []

[45432 rows x 2 columns]

C:\Users\Luis Fernando Martin\AppData\Local\Temp\ipykernel_13056\1532343543.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_credits2['actor_names'] = df_credits2['cast'].apply(extract_actor_names)

In [11]:

# Verificar si las columnas existen y eliminarlas si es así
columns_to_drop = ['cast', 'crew']

# Eliminar las columnas si existen
df_credits2 = df_credits2.drop(columns=[col for col in columns_to_drop if col in df_credits2.columns], errors='ignore')

# Mostrar el DataFrame para confirmar que las columnas han sido eliminadas
#print(df1)

In [12]:
df_credits2

,id,director_name,actor_names
0,862,John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,8844,Joe Johnston,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,15602,Howard Deutch,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,31357,Forest Whitaker,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,11862,Charles Shyer,"[Steve Martin, Diane Keaton, Martin Short, Kim..."
...,...,...,...
45471,439050,Hamid Nematollah,"[Leila Hatami, Kourosh Tahami, Elham Korda]"
45472,111109,Lav Diaz,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe..."
45473,67758,Mark L. Lester,"[Erika Eleniak, Adam Baldwin, Julie du Page, J..."
45474,227506,Yakov Protazanov,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa..."
45475,461257,Daisy Asquith,[]

### Guarde el archivo ya modificado

In [13]:
#df_credits2.to_csv('credits.modificado.csv', index=False)